.app {
    text-align: center;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
    color: #61dafb;
}

.date-card {
    background-color: #fdfdfd;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.weather-card {
    background-color: #fdfdfd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.weather-header {
    margin-bottom: 10px;
}

.weather-details {
    margin-top: 10px;
}

.weather-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.weather-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
