transformers==4.36.2
huggingface==0.0.1
torch==2.1.2
bitsandbytes==0.41.3.post2
accelerate==0.25.0
scipy==1.10.1
huggingface-hub==0.20.1
llama-index==0.9.21
pypdf==3.17.4
span-marker==1.5.0
matplotlib==3.7.4
chromadb==0.4.21
pysqlite3-binary==0.5.2.post2
arxiv==2.1.0
pytest==7.4.3
pytest-parallel==0.1.1
pytest-cov==4.1.0
py==1.11.0

# for training
# peft
# trl

# for jupyterlab
jupyterlab==4.0.9
ipykernel==6.27.1
